.home-page {
  height: 100%;
}

.home-page__devices {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2rem;
  gap: 1.8rem;
}

@media (max-width: 820px) {
  .home-page__devices {
    justify-content: center;
    padding-top: 0.5rem;
  }
}
